.theater__cluster .theater__list .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fdb73b;
    padding: 10px;
}

.theater__cluster .theater__list .circle img {
    width: 100%;
    height: 100%;
}

.theater__cluster .theater__list .rectangle {
    width: 150px;
    height: 20px;
    background-color: #fdb73b;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    text-align: center;
}
.theater__cluster .theater__list .content {
    overflow: hidden;
    margin-top: 20px;
}
.theater__cluster .theater__list .content .over__lay {
    width: 100%;
    height: 100%;
    background: rgba(253, 250, 250, 0.9);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.theater__cluster .theater__list .content:hover .over__lay {
    opacity: 0;
}


.theater__cluster .showtimes {
    margin-top: 20px;
}

.theater__cluster .showtimes h3 {
    text-align: center;
}
.showtimes a {
    text-decoration: none;
}

.showtimes a:hover {
    text-decoration: none;
}
.showtimes .col-2 img {
    width: 100%;
}

.showtimes .list__theater {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.showtimes .list__theater {
    color: black;
}
.showtimes .list__theater h4 {
    color: #ec7532;
}
.showtimes .show_time_list {
    height: 500px;
}
.showtimes .show_time_list .show_time_content {
    margin-bottom: 60px;
}
.showtimes .show_time_list .show_time_content .show_time_title{
    height: 230px;
}
.showtimes .show_time_list .show_time_content img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.showtimes .show_time_list .show_time_content span
{
    display: block;
    width: 80px;
    height:30px;
    border: 2px solid #ec7532;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    color: #ec7532;
}
.showtimes .show_time_list .show_time_content .show_time_content_list {
    float: left;
}

.showtimes .show_time_list .show_time_content .show_time_content_list button{
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: #ec7532;
    border-radius: 5px;
    margin-bottom: 10px;
}

.__overflow {
    overflow-y: auto;
    overflow-x: hidden;
}

