.contact {
    background-color: #fdb73b;
}
.contact .container {
    padding: 20px;
}
.contact h6 {
    font-weight: bold;
}
.contact ul {
    padding: 0;
}

.contact li {
   list-style-type: none;
   margin-top: 10px;
}

.contact li a {
    text-decoration: none;
    color: black;
}

.contact li a:hover {
    color: #ec7532;
}

.contact .partner img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contact .on__phone img{
    width: 50%;
    margin-top: 20px;
}
.contact .contact__us a {
    margin-left: 5px;
}
.contact .contact__us img{
    width: 20%;
}

.contact .contact__us p{
    margin-bottom: 8px;
}

.contact .contact__us h6 {
    margin-top: 0px;
}